<!html>
<html>
    <head>
        <title></title>
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mathjs/2.5.0/math.min.js"></script>
        <script src="http://omnipotent.net/jquery.sparkline/2.1.2/jquery.sparkline.min.js"></script>
        <!--script src="http://cdn.rawgit.com/lokesh/color-thief/master/dist/color-thief.min.js"></script-->
        <style type="text/css">
            * {
                font-family: GillSans,"Gill Sans MT",Calibri,sans-serif;
                font-size: 14px;
                font-weight:100;
            }
            form {
                margin: 0px;
                margin-bottom: 3px;
                padding: 0;
            }
            input {
                font-size: x-large;
            }
            div.box {
                width: 220px;
                height: 380px;
                float: left;
                display: inline-block;
                border: 1px solid #eee;
                border-radius: 0px;
                margin: 0 -1px -1px 0;
                padding: 5px;
                background-color: #fff;
                text-align: center;
            }
            div.match {
                border: 1px solid green;
                /*border-bottom: 1px solid green;
                border-right: 1px solid green;*/
            }
            div.img {
                width: 200px;
                height: 200px;
                margin: auto;
                margin-bottom: 10px;
                background-size: cover /*contain*/;
                background-position: center;
                background-repeat: no-repeat;
            }
            div.price sup {
                font-size: x-small;
            }
            #sparkline {
                margin-top: 0.5em;
                margin-bottom: 0.5em;
            }
            ol {
                margin-top: 0;
            }
            #spinner {
                position: absolute;
                left: 30%;
                top: 25%;
                margin:0px auto;
                height: 250px;
                width: 250px;
                -webkit-animation: rotation .6s infinite linear;
                -moz-animation: rotation .6s infinite linear;
                -o-animation: rotation .6s infinite linear;
                animation: rotation .6s infinite linear;
                /*background-color: #fff;*/
                border-left:50px solid rgba(0,174,239,.15);
                border-right:50px solid rgba(0,174,239,.15);
                border-bottom:50px solid rgba(0,174,239,.15);
                border-top:50px solid rgba(0,174,239,.8);
                border-radius:100%;
                z-index: 99999;
                display: none; /* hide initially */
            }
            @-webkit-keyframes rotation {
                from {-webkit-transform: rotate(0deg);}
                to {-webkit-transform: rotate(359deg);}
            }
            @-moz-keyframes rotation {
                from {-moz-transform: rotate(0deg);}
                to {-moz-transform: rotate(359deg);}
            }
            @-o-keyframes rotation {
                from {-o-transform: rotate(0deg);}
                to {-o-transform: rotate(359deg);}
            }
            @keyframes rotation {
                from {transform: rotate(0deg);}
                to {transform: rotate(359deg);}
            }
            #clear {
                font-size: x-large;
                cursor: pointer;
                margin: 0.25em;
            }
            a.search-by-me {
                cursor: pointer;
            }
            xmp {
                max-width: 100%;
                overflow: scroll;
            }
        </style>
    </head>

    <body>

        <div id="spinner"></div>

        <div id="url" style="clear:both">{{ url }}</div>

        <div style="white-space: nowrap">
            <form method="get" action=".">
                <span id="clear">&times;</span>
                <input id="q" name="q" size="90" value="{{ q }}">
            </form>
        </div>

        <div style="margin-left:2.18em">
            <div id="sparkline"></div>
            <div id="results"></div>
        </div>

        <br style="clear:both">

        <div id="notes">

        <div style="width:100%; margin:0; padding:0">

        <div style="width: 50%; display: inline-block">

        <label for="goodlist">Example Product Searches</label>
        <ol id="goodlist">
            <li><a href="/?q=Christian Louboutin So Kate Patent 120mm Red Sole Pump, Shocking Pink $675">Christian Louboutin So Kate Patent 120mm Red Sole Pump, Shocking Pink $675</a>
            <li><a href="/?q=SHISEIDO Urban Environment UV Protection Cream SPF 40 $32">SHISEIDO Urban Environment UV Protection Cream SPF 40 $32</a>
            <li><a href="/?q=Limited Edition In the Nude Compact for Eyes">Limited Edition In the Nude Compact for Eyes</a>
            <li><a href="/?q=Powder Blush Case & Brush $40">Powder Blush Case & Brush $40</a>
            <li><a href="/?q=Kiehl's Since 1851 Facial Fuel UV Guard SPF 50/1.7 oz. $38">Kiehl's Since 1851 Facial Fuel UV Guard SPF 50/1.7 oz. $38</a>
            <li><a href="/?q=NVPS Leopard-Print Red Sole Pump, Brown $1045">NVPS Leopard-Print Red Sole Pump, Brown $1045</a>
            <li><a href="/?q=Christian Louboutin Rivierina Patent Red Sole Pump, Shocking Pink $745">Christian Louboutin Rivierina Patent Red Sole Pump, Shocking Pink $745</a>
            <li><a href="/?q=Same Swim Babe Bandeau Bikini Top">Same Swim Babe Bandeau Bikini Top</a>
            <li><a href="/?q=Glam-To-Go Cheek, Eye & Lip Travel Case">Glam-To-Go Cheek, Eye & Lip Travel Case</a>
            <li><a href="/?q=Sonic System Purifying Cleansing Brush Head">Sonic System Purifying Cleansing Brush Head</a>
            <li><a href="/?q=Cashmere Cleanse Facial Brush Head">Cashmere Cleanse Facial Brush Head</a>
            <li><a href="/?q=For Men Sonic System Deep Cleansing Brush $89.5">For Men Sonic System Deep Cleansing Brush $89.5</a>
            <li><a href="/?q=UV Plus SPF 50, 1.7 oz. $42">UV Plus SPF 50, 1.7 oz. $42</a>
            <li><a href="/?q=Foreo ISSA Brush Head $24.90">Foreo ISSA Brush Head $24.90</a>
            <li><a href="/?q=brand:(TOM FORD) Patent Leather Pin-Heel Pump, Nude $890">brand:(TOM FORD) Patent Leather Pin-Heel Pump, Nude $890</a>
            <li><a href="/?q=CLINIQUE Skinny Meets Chubby Set- 45.00 Value $27.50">CLINIQUE Skinny Meets Chubby Set- 45.00 Value $27.50</a>
            <li><a href="/?q=CLINIQUE Sun SPF 50 Face Cream/1.7 oz. $21.50">CLINIQUE Sun SPF 50 Face Cream/1.7 oz. $21.50</a>
            <li><a href="/?q=brand:(Charlotte Olympia) Orbital Pomeline Suede Pump, Black $843">brand:(Charlotte Olympia) Orbital Pomeline Suede Pump, Black $843</a>
            <li><a href="/?q=Christian Louboutin Cataclou Studded Red Sole Demi-Wedge Sandal, Black/Dark Gunmetal $795">Christian Louboutin Cataclou Studded Red Sole Demi-Wedge Sandal, Black/Dark Gunmetal $795</a>
            <li><a href="/?q=brand:(Sisley Paris) Botanical D-Tox, 30ml $245">brand:(Sisley Paris) Botanical D-Tox, 30ml $245</a>
            <li><a href="/?q=brand:(Sisley Paris) Eye Contour Mask, 30ml">brand:(Sisley Paris) Eye Contour Mask, 30ml</a>
            <li><a href="/?q=Chloe Black Leather Mini Georgia Bag $1090">Chloe Black Leather Mini Georgia Bag $1090</a>
            <li><a href="/?q=RVCA Stratta Dress">RVCA Stratta Dress</a>
            <li><a href="/?q=brand:(3.1 Phillip Lim) 'Pashli Mini' Leather Satchel $695">brand:(3.1 Phillip Lim) 'Pashli Mini' Leather Satchel $695</a>
            <li><a href="/?q=brand:(Nike) Roshe One sneakers €90">brand:(Nike) Roshe One sneakers €90</a>
            <li><a href="/?q=brand:(KATE SPADE NEW YORK) Dorothy Bucket Hat $118">brand:(KATE SPADE NEW YORK) Dorothy Bucket Hat $118</a> &mdash; image recognition wouldn't work here
            <li><a href="/?q=brand:(Clinique) Blush Brush $29.5">brand:(Clinique) Blush Brush $29.5</a> -- Clinique brand mixed into name for 1, but not the other...
            <li><a href="/?q=brand:(KATE SPADE NEW YORK) Tiny Metro Watch $175">brand:(KATE SPADE NEW YORK) Tiny Metro Watch $175</a> -- Clinique brand mixed into name for 1, but not the other...
            <li><a href="/?q=brand:(RALPH LAUREN) Leather Large Hobo Bag $448">brand:(RALPH LAUREN) Leather Large Hobo Bag $448</a>
            <li><a href="/?q=brand:(Alexander McQueen) Leopard-Print Pony Hair Envelope Clutch Bag $1015">brand:(Alexander McQueen) Leopard-Print Pony Hair Envelope Clutch Bag $1015</a>
            <li><a href="/?q=brand:(Life is good) Go-To Hoodie $48">brand:(Life is good) Go-To Hoodie $48</a>
            <li><a href="/?q=brand:(RED Valentino) Elastic Waist Pants $350">brand:(RED Valentino) Elastic Waist Pants $350</a>
            <li><a href="/?q=brand:(SERGIO ROSSI) Suede Pumps $605">brand:(SERGIO ROSSI) Suede Pumps $605</a>
            <li><a href="/?q=brand:(STEVE MADDEN) S5705 $38">brand:(STEVE MADDEN) S5705 $38</a> &mdash; brand name outweighs much less common product name, compare <a href="/?q=S5705 38">S5705 38</a>
           <li><a href="/?q=Follies Spiked Pump">Follies Spiked Pump</a> matches <a href="/?q=Follies Spikes Pumps">Follies Spikes Pumps</a> (stemming)
        </ol>

        <label for="goodlist">Example URL &rarr; Product &rarr; Product Search</label>
        <ol id="goodlist">
            <li><a href="/?q=http://www.harpersbazaar.com/beauty/g5029/todays-beauty-secret/?slide=1">http://www.harpersbazaar.com/beauty/g5029/todays-beauty-secret/?slide=1</a>
            <li><a href="/?q=http://www.elle.com/fashion/news/g27407/flat-party-shoes-for-the-holidays/?slide=1">http://www.elle.com/fashion/news/g27407/flat-party-shoes-for-the-holidays/?slide=1</a>
            <li><a href="/?q=http://www.cnet.com/products/belkin-qode-ultimate-pro-keyboard-case-for-ipad-air-2/">http://www.cnet.com/products/belkin-qode-ultimate-pro-keyboard-case-for-ipad-air-2/</a>
            <li><a href="/?q=http://nymag.com/thecut/2015/12/mens-holiday-gift-guide/slideshow/">http://nymag.com/thecut/2015/12/mens-holiday-gift-guide/slideshow/</a>
            <li><a href="/?q=http://www.polyvore.com/roland_mouret_saxby_cutout_jumpsuit/thing?id=155948865">http://www.polyvore.com/roland_mouret_saxby_cutout_jumpsuit/thing?id=155948865</a>
        </ol>

        </div>

        <div style="width: 50%; float:right">
        <label for="badlist">FIXME</label>
        <ol id="badlist">
            <li>stemming
                <ol>
                </ol>
            <li>product dupes
                <ol>
                    <li><a href="/?q=brand:(Clé de Peau Beauté) Limited Edition Nail Lacquer Trio">brand:(Clé de Peau Beauté) Limited Edition Nail Lacquer Trio</a>
                </ol>
            <li>size/quantity
                <ol>
                    <li> are not respected -- e.g. "1.7 fl oz" vs. 3.4 fl oz"
                </ol>
            <li>brand
                <ol>
                    <li><a href="/?q=brand:(Clé de Peau Beauté) Brightening Mask">brand:(Clé de Peau Beauté) Brightening Mask</a> vs. non-brand <a href="/?q=Brightening Mask $30">Brightening Mask $30</a>
                    <li><a href="/?q=TIBI Blouse">TIBI Blouse</a> &mdash; TODO: extract brand algorithmically
                </ol>
            <li>non-normalized language
                <ol>
                    <li><a href="/?q=brand:(Deborah Lippmann) Nail Lacquer in Whip It $18">brand:(Deborah Lippmann) Nail Lacquer in Whip It $18</a> (nail polish vs. nail lacquer)
                </ol>
            <li>matching/grouping doesn't respect brand
                <ol>
                    <li><a href="/?q=Leather Kitten Heel Pumps">Leather Kitten Heel Pumps</a> &mdash; too broad
                </ol>
            <li>specificity
                <ol>
                    <li><a href="/?q=Ray-Ban Sunglasses $200">brand:(Ray-Ban) Sunglasses $200</a> -- even brand + name + price can just be too vague...
                </ol>
            <li>color
                <ol>
                    <li><a href="/?q=brand:(Michael Stars) Long Sleeve Turtleneck in Pinot $88">brand:(Michael Stars) Long Sleeve Turtleneck in Pinot $88</a> colors "Pinot" vs. "Quicksand"
                    <li><a href="/?q=miharayasuhiro/white-calf-hair-sneakers">miharayasuhiro/white-calf-hair-sneakers</a> match on 3/4 words ignores most important -- color (photos are drastically different)
                    <li><a href="/?q=brand:(KATE SPADE NEW YORK) Sailor's Knot Stud Earrings, Silver $48">brand:(KATE SPADE NEW YORK) Sailor's Knot Stud Earrings, Silver $48</a> &mdash; ignores silver vs. gold vs. none
                </ol>
            <li>other product attributes
                <ol>
                    <li><a href="/?q=CLINIQUE Sun SPF 50 Face Cream/1.7 oz. $21.50">CLINIQUE Sun SPF 50 Face Cream/1.7 oz. $21.50</a> SPF 30 and SPF 50 are both same price, same image, but are not the same product
                </ol>
        </ol>
        </div>

        </div>
        </div>

        <br style="clear:both">

        <xmp></xmp>
        
    </body>

    <script>

function is_url(str)
{
    var s = str.trim();
    return s.startsWith('http://') || s.startsWith('https://');
}

SCORE_MIN_THRESHOLD = 1.0

function match_threshold(scores)
{
    var threshold = 0;
    if (scores.length) {
        var scores = scores.slice(0, 25);
        threshold = Math.max(SCORE_MIN_THRESHOLD,
                            math.mean(scores) + (math.std(scores)));
    }
    return threshold;
}

function analyze(scores)
{
    var scores = scores.slice(0, 25);
    var h2 = {};
    if (scores.length) {
        console.log('mean:', math.mean(scores));
        console.log('median:', math.median(scores));
        console.log('mode:', math.mode(scores));
        console.log('std:', math.std(scores));
        console.log('var:', math.var(scores));
        console.log('max:', math.max(scores));
        var threshold = match_threshold(scores);
        var k1 = '' + threshold.toFixed(2) + ':100';
        var k2 = '0:' + threshold.toFixed(2);
        h2[k1] = 'green';
        h2[k2] = '#ccc';
    }
    return $.range_map(h2);
}

function do_sparkline(scores)
{
    var rangeMap = analyze(scores);
    $('#sparkline').sparkline(scores,
        {
            type: 'bar',
            colorMap: rangeMap
        });
}

function display_price(p)
{
    var c = p.currency == 'EUR' ? '&euro;' : '$';
    var d = p.price_min;
    if (d == Number(d).toFixed(0))
        d = Number(d).toFixed(0);
    else
        d = Number(d).toFixed(2);
    if (!p.in_stock)
        return $('<div>').text('out-of-stock');
    return $('<div>').append($('<sup>').html(c)).append(d);
}

function display_data(query, data)
{
    $('xmp').text(JSON.stringify(data.hits, null, 4))

    var scores = data.hits.hits.map(function(hit){ return hit._score; });

    var score_threshold = 0;
    if (scores) {
        do_sparkline(scores);
        score_threshold = match_threshold(scores);
    }

    $('#results').hide();
    $('#results').empty();
    $('#results').show();

    $.each(data.hits.hits, function(i, item) {

        var p = item._source;
        var a = $('<a>');
        a.attr('href', p.url);
        a.attr('target', '_blank');

        var searchbyme = $('<a class="search-by-me">');

        var imgurl = p.img_urls ? p.img_urls[0] : '';

        var divimg = $('<div class="img" style="background-image:url(' + imgurl + ')">');
        if (p.img_urls) {
            p.img_urls.forEach(function(x){ divimg.attr('data-img', x); });
        }

        $(divimg).mouseover(function(){
            var imgs = p.img_urls || [];
            if (imgs.length > 1) {
                $(divimg).css('background-image', 'url(' + imgs[1] + ')');
            }
        });

        $(divimg).mouseout(function(){
            var imgs = p.img_urls || [];
            if (imgs.length > 0) {
                $(divimg).css('background-image', 'url(' + imgs[0] + ')');
            }
        });

        var boxdiv = $('<div class="box">').append(
            $('<div class="score">').text('score ' + Number(item._score).toFixed(3)),
            divimg,
            $('<div class="brand">').text(p.brand || ''),
            $('<div class="name">').append(a.text(p.name || '')),
            //$('<div class="price">').text(p.price_min || (p.in_stock ? '' : 'out of stock')),
            $('<div class="price">').append(display_price(p)),
            searchbyme.html('search by product &#128269;'),
            $('<div class="host">').text(p.url_host)
        );
        if (item._score >= score_threshold)
            boxdiv.addClass('match');
        boxdiv.css('z-index', (10000-i).toString());
        boxdiv.appendTo('#results');
    });
    $('div.box').draggable({
        start: function(event, ui) {
            $(this).css('z-index', 9999);
        },
        revert: function(event, ui) {
            // ref: http://stackoverflow.com/questions/5735270/revert-a-jquery-draggable-object-back-to-its-original-container-on-out-event-of
            $(this).data("uiDraggable").originalPosition = {
                top : 0,
                left : 0
            };
            $(this).css('z-index', 1);
            return !event;
        }
    });

    $('a.search-by-me').click(function() {
        do_search_by_product($(this).closest('div.box'));
    });

    $('#results').show();
}

function es_cape(str) {
    return str.replace(/[/]/gi, function(c){ return "\\"+c; });
}

function es_url()
{
    return 'http://search-es0-qjusld7s4jpxxcsy2ktlkfr42m.us-east-1.es.amazonaws.com/product/_search';
}

function text_query(str)
{
    var should = [
        {
            'multi_match' : {
                'query': str,
                'fields': [ 'name', 'brand', 'price'] 
            }
        }
    ];
    var m = str.match(/[$€£¥](\d+(?:\.\d+)?)/);
    if (m) {
        var price = Number(m[1]); // ["$40", "40"]
        should.push({
            'range': {
                'price_min':{
                    'gt': price - 2,
                    'lt': price + 2,
                    'boost': 2.0
                }
            }
        });
    }
    return {
        'bool': {
            'should': should
        }
    };
}

function url_query(str)
{
    return {
        'bool':{
            'must':[
                {'match':{'url':str}}
            ]
        }
    };
}

function structured_query(params)
{
    var should = [];
    var must = [];
    if (params.brand) must.push(
        {
            match: {
                'brand': params.brand
            }
        }
    )
    if (params.name) must.push({'match':{'name': params.name}})
    if (params.price) {
        must.push({
            'range': {
                'price_min':{
                    'gt': params.price - 2,
                    'lt': params.price + 2,
                    'boost': 2.0
                }
            }
        });
    }
    return {
        'bool':{
            'should': should,
            'must': must
        }
    };
}

function search(txtq, params)
{
    // curl -X POST 'search-es0-qjusld7s4jpxxcsy2ktlkfr42m.us-east-1.es.amazonaws.com/product/_search' -d '{"query":{"bool":{"must":[{"match":{"brand":"VALENTINO GARAVANI"}},{"match":{"name":"pump"}}]}}}' | python -mjson.tool | less
    start_loading();

    var query = {};
    if (params) {
        query = {
            query: {
                filtered : {
                    query: structured_query(params),
                }
            }
        };
    } else if (is_url(txtq)) {
        query = {
            query: url_query(es_cape(txtq))
        };
    } else {
        query = {
            query: text_query(es_cape(txtq))
        };
    }
    query.from = 0;
    query.size = 100;

    $.ajax({
        method: 'POST',
        url: es_url(),
        crossDomain: true,
        dataType: 'json',
        data: JSON.stringify(query)
    }).done(function(data) {
        display_data(txtq, data);
        stop_loading();
    });
}

function do_search(txtq, params)
{
    var otxtq = txtq;
    var m = txtq.match(/brand:\(([^)]*)\)/);
    if (m) {
        params = params || {};
        params.brand = m[1];
        txtq = txtq.replace(m[0], '');
        m = txtq.match(/[$€£¥](\d+(?:\.\d+)?)/)
        if (m) {
            params.price = Number(m[1]);
            txtq = txtq.replace(m[0], '');
        }
        params.name = txtq.trim();
    }
    console.log('otxtq', otxtq, 'params', params);
    search(otxtq, params);
}

function start_loading()
{
    $('#spinner').show();
}

function stop_loading()
{
    $('#spinner').hide();
}

function set_url(q)
{
    var url = location.protocol + '//' + location.host + location.pathname;
    url += '?q=' + encodeURI(q);
    history.pushState('data', '', url);
}

function do_search_by_product(boxdiv)
{
    var params = {
        brand: null,
        name: null,
        price: null
    };
    var brand = boxdiv.find('.brand').text();
    var name = boxdiv.find('.name').text();
    var price = boxdiv.find('.price').text();
    params.brand = brand || null;
    params.name = name || null;
    var newq = 'brand:(' + brand + ') ' + name;
    if (price && price != 'out-of-stock') {
        newq += ' ' + price;
        params.price = Number(price.replace(/[$€£¥ ]/, ''));
    }

    do_search(newq, params);

    $('#q').val(newq);
    set_url(newq);

    window.scrollTo(0, 0);
}

function on_page_load()
{
    // form input

    $('form').submit(function(event) {
        start_loading();
        // event.preventDefault();
    });

    var txtq = $('#q').val();
    if (txtq) {
        console.log('txtq', txtq);
        do_search(txtq);
    }

    $('#q').droppable({
        tolerance: 'touch',
        drop: function(event, ui) {
            var dropped = ui.draggable;
            do_search_by_product(dropped);
        }
    });
}

function support_back_button()
{
    if (window.history && window.history.pushState) {
        $(window).on('popstate', function() {
            on_page_load();
        });
    }
}

$(document).ready(function() {
    $('#clear').click(function() {
        $('#url').empty();
        $('#q').val('');
        $('#sparkline').empty();
        $('#results').css('height', $(window).height());
        $('#results').animate({
            height: 0
        }, 500,
            function(){
                $('#results').empty().show();
            });
        $('xmp').empty();
        set_url('');
    });
    $('a').click(function() {
        start_loading();
    });
    support_back_button();
    on_page_load();
});
    </script>
</html>
